{% extends 'FinalBase.html' %}

{% load static %}
{% load crispy_forms_tags %}
{% load UtilTags %}

{% block title %} سفارشات {% endblock %}
{% block content %}
<div class="container" style="direction: rtl;">
  <!-- <p>تاریخ عضویت : {{ JoinDateJalali }}</p> -->
  <form method="post">
    {% csrf_token %}

    <div class="form-row">
      <div class="form-group col-md-6 mb-0">
        {{ order_form.Name_Moshtari|as_crispy_field }}
      </div>
      <div class="form-group col-md-6 mb-0">
        {{ order_form.Name_Project|as_crispy_field }}
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4 mb-0">
        {{ order_form.Daste_Mahsool|as_crispy_field }}
      </div>
      <div class="form-group col-md-4 mb-0">
        {{ order_form.NoeFactor|as_crispy_field }}
      </div>
      <div class="form-group col-md-4 mb-0">
        {{ order_form.Tirazh|as_crispy_field }}
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6 mb-0">
        {{ order_form.IsBehdashti|as_crispy_field }}
      </div>
      <div class="form-group col-md-6 mb-0">
        {{ order_form.MavadAvaliye1|as_crispy_field }}
      </div>
    </div>
    {{ order_form.SharheMavadAvaliye1|as_crispy_field }}
    <div class="form-row">
      <div class="form-group col-md-3 col-9">
        {{ order_form.CodeGhaleb|as_crispy_field }}
      </div>
      <div class="form-group col-md-1 col-3" style="margin-right: -5%;">
        <button class="btn" type="button" data-toggle="modal" data-target="#CodeGHalebModal"
          style="margin-top: 34%;"><i class="fa fa-search"></i></button>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-1 mb-0">
        <button type="submit" class="btn btn-primary" style="float: right;"> ذخیره </button>
      </div>
    </div>
  </form>

  <div class="form-row">
    <div class="form-group col-md-4 col-4">
      <label for="usr">طول جعبه</label>
      <input type="text" class="form-control" id="tool">
    </div>
    <div class="form-group col-md-4 col-4">
      <label for="usr">عرض جعبه</label>
      <input type="text" class="form-control" id="arz">
    </div>
    <div class="form-group col-md-4 col-4">
      <label for="usr">ارتفاع جعبه</label>
      <input type="text" class="form-control" id="ertefa">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-4 col-4">
      <label for="usr">تعداد در قالب</label>
      <input type="text" class="form-control" id="tedad">
    </div>
    <div class="form-group col-md-4 col-4">
      <label for="usr">طول شیت چاپی</label>
      <input type="text" class="form-control" id="tsh">
    </div>
    <div class="form-group col-md-4 col-4">
      <label for="usr">عرض شیت چاپی</label>
      <input type="text" class="form-control" id="ash">
    </div>
  </div>

</div>
{% endblock %}
{% block modalBox %}
<!-- The Modal -->
<div class="modal fade" id="CodeGHalebModal">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">کد قالب</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="responsive-table"></div>
        <table id="dtBasicExample" class="dataTableLayout table table-striped table-bordered table-sm" cellspacing="0">
          <thead>
            <tr>
              <th class="th-sm">نام
              </th>              
              <th class="th-sm">کد قالب
              </th>
              <th class="th-sm">برش پیش از چاپ
              </th>
              <th class="th-sm">طول شیت چاپی
              </th>
              <th class="th-sm">عرض شیت چاپی
              </th>
              <th class="th-sm">تعداد در قالب
              </th>
              <th class="th-sm">برش پس از چاپ
              </th>
              <th class="th-sm">فایل
              </th>
              <th class="th-sm">انتخاب
              </th>                
            </tr>
          </thead>
          <tbody>
          </tbody>
          <tfoot>
            <tr>
              <th class="th-sm">نام
              </th>              
              <th class="th-sm">کد قالب
              </th>
              <th class="th-sm">برش پیش از چاپ
              </th>
              <th class="th-sm">طول شیت چاپی
              </th>
              <th class="th-sm">عرض شیت چاپی
              </th>
              <th class="th-sm">تعداد در قالب
              </th>
              <th class="th-sm">برش پس از چاپ
              </th>
              <th class="th-sm">فایل
              </th>
              <th class="th-sm">انتخاب
              </th>              
            </tr>
          </tfoot>
        </table>
      </div>
    </div>

    <!-- Modal footer -->
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary btn-view" data-dismiss="modal">بستن</button>
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {  

    BindControls();

    $('#CodeGHalebModal').on('shown.bs.modal', function (e) {
        $('#dtBasicExample').dataTable().fnClearTable();
        $('#dtBasicExample').dataTable().fnDestroy();
        var table = $('#dtBasicExample').DataTable({  
            "ajax": {
                  destroy: true,
                  processData: true,
                  dataType: 'json',
                  dataSrc:"data",
                  data: {
                      dastemahsool: $('#id_Daste_Mahsool').val()
                    },               
                  "url": "/orders/api/templatestojason/",                          
            },
            "processing": true,  
            "columns": [
              { "data": "Formoole_name_mahsool" },
              { "data": "Code_ghalebe_asli" },
              { "data": "Boresh_pish_az_Chap" },
              { "data": "Toole_Sheete_Chapi" },
              { "data": "Arze_sheete_chapi" },
              { "data": "tedad_dar_ghaleb" },
              { "data": "Boresh_pas_az_chap" },
              { "data": "folder_link" },
              { "data": null,
          "defaultContent": 
             '<button class="btn-view btn btn-secondary" data-dismiss="modal" type="button">انتخاب</button>'
              },              
            ],
            "autoWidth": false,
            select: true,
            "columnDefs": [
              {
                targets: 0,
                className: 'dt-head-center dt-body-center'
              },
              {
                targets: 1,
                className: 'dt-head-center dt-body-center'
              },
              {
                targets: 2,
                className: 'dt-head-center dt-body-center'
              },
              {
                targets: 3,
                className: 'dt-head-center dt-body-center'
              },
              {
                targets: 4,
                className: 'dt-head-center dt-body-center'
              },
              {
                targets: 5,
                className: 'dt-head-center dt-body-center'
              },
              {
                targets: 6,
                className: 'dt-head-center dt-body-center'
              },              
              {
                targets: 7,
                className: 'dt-head-center dt-body-center'
              },
              {
                targets: 8,
                className: 'dt-head-center dt-body-center'
              },
              { "width": "50px", "targets": 1 },
              { "width": "85px", "targets": 2 },
              { "width": "85px", "targets": 3 },
              { "width": "85px", "targets": 4 },
              { "width": "75px", "targets": 5 },
              { "width": "85px", "targets": 6 },
              { "width": "50px", "targets": 8 },
            ]
          });
          $('#dtBasicExample tbody').on( 'click', '.btn-view', function (ث) {
              var sd = table.row( $(this).parents('tr') ).data();
              btnid(sd.id);
          } );          
          $('.dataTables_length').addClass('bs-select');
  });

});

  // $('#CodeGHalebModal').on('shown.bs.modal', function () {
  //   var tbl = $('#dtBasicExample').DataTable( {
  //     "autoWidth": false,
  //     select: true
  //   } );    
  //   tbl.columns.adjust().draw();
  // });    
  function btnid(bi) {
    //alert(this.id); // or alert($(this).attr('id'));
    bid = bi;
    $.ajax({
      url: '/orders/api/get_template/',
      data: {
        'bid': bid
      },
      dataType: 'json',
      success: function (data) {
        $.each(data, function (key, value) {
          if (key == 'tj') {
            $("#tool").val(value)
          }
          if (key == 'aj') {
            $("#arz").val(value)
          }
          if (key == 'ej') {
            $("#ertefa").val(value)
          }
          if (key == 'td') {
            $("#tedad").val(value)
          }
          if (key == 'aaj') {
            $("#tsh").val(value)
          }
          if (key == 'eej') {
            $("#ash").val(value)
          }
          if (key == 'cga') {
            $("#id_CodeGhaleb").val(value)
          }
        });

      }
    });
  };  


  function BindControls() {
    src = "/orders/api/get_places/"
    $(".AutoComp").autocomplete({
      source: function (request, response) {
        $.ajax({
          url: src,
          dataType: "json",
          data: {
            term: request.term,
            elementname: $(this.element).prop("id")
          },
          success: function (data) {
            response(data);
          }
        });
      },
      select: function (event, ui) { //item selected
        AutoCompleteSelectHandler(event, ui)
      },
      minLength: 1,
    });
  };

  function AutoCompleteSelectHandler(event, ui) {
    var selectedObj = ui.item;
  }

</script>
{% endblock %}