{% extends 'accountbase.html' %}

{% block title %} ورود به سامانه {% endblock %}

{% block content %}
<div class="wrap-login100 p-l-55 p-r-55 p-t-80 p-b-30">
    {% if err %}
    <div class="alert alert-primary" role="alert">
        <strong>{{err}}</strong>
    </div>
    {% endif %}
    <form class="login100-form validate-form" method="POST" action="{% url 'account:login' %}">
        {% csrf_token %}
        <span class="login100-form-title p-b-37">
            ورود
        </span>
        <div class="wrap-input100 validate-input m-b-20" data-validate="یک نام کاربی وارد نمایید">
            <input class="input100" type="text" name="username" placeholder="نام کاربری">
            <span class="focus-input100"></span>
        </div>

        <div class="wrap-input100 validate-input m-b-25" data-validate="رمز عبور فراموش نشود">
            <input class="input100" type="password" name="pass" placeholder="رمز عبور">
            <span class="focus-input100"></span>
        </div>
        {% if request.GET.next %}
        
            <!-- <input type="hidden" name="next" value="{{ request.GET.next }}"> -->

                <input type="text" style="visibility: hidden;" class="form-control" name="next" value="{{ request.GET.next }}">
        {% endif %}
        <div class="container-login100-form-btn">
            <button class="login100-form-btn" type="submit">
                ورود
            </button>
        </div>
        <br>
        
    </form>
</div>

{% endblock %}
